@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

.Container
{
	margin: auto;
	width: 100vw;
	height: 100vh;
}

.Header
{
	width: 100%;
	height: 12%; 
	margin: auto;
	
}

body
{
	margin: 0;
	font-family: sans-serif;
}

.navbar
{
	width: 100%;
	height: 100%;
}

h1
{
	padding: 30px;
	text-align: center;
	
}

h2
{
	text-align: center;
}

.form-login
{
	width: 60%;
	max-width: 500px;
	margin:auto;
	border-radius: 13px;
}

.crear-Cuenta
{
	width: 60%;
	max-width: 500px;
	margin: auto;
	border-radius:13px;
}

.Contenedor-inputs
{
	padding: 20px 40px;
	display: flex;
	flex-wrap: wrap;
}

.input-100
{
	width: 100%;
}

input
{
	margin-bottom: 15px;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid #000000;
}

.Iniciar
{
	margin: auto;
}

.volver
{
	font-size: 12px;
}

.cre
{
	margin: auto;
}

.footer
{
	width: 100vw;
	height: 12vh;
}
/*
.Form
{
	width: 40%;
	height: 48%;
	padding-left: 13.5%;
	padding-top: 9%;
	border-radius: 5%;
	margin:auto;
	
}**/
