@charset "utf-8";
/* CSS Document */

*{
	box-sizing:border-box;
}
.Container
{
	margin: auto;
	width: 100vw;
	height: 100vh;
	
}

.Header
{
	width: 100%;
	height: 12%; 
	/*background-color:goldenrod;*/
	
}

body
{
	margin: 0;
	text-align:center;
	font-family: sans-serif;
	
}
h1
{
	padding: 30px;
	text-align: center;
}
h2
{
	padding: 30px;
	text-align: center;
}
h7
{
	font-size :15px;
	text-align: left;
}
h6
{
	font-size:15px;
}
h3
{
	font-size:10px;
}
h5
{
	font-size:14px;
}
.form-register
{
	width: 95%;
	max-width:500px;
	margin:auto;
	border-radius:13px;
	
}
.form-titulo
{
	
	color:Black;
	
	text-align: center;
	font-weight:100;
	font-size: 15px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.form-subtitulo
{
	
	color:Black;
	padding:0px 60px 30px 60px;
	text-align: center;
	font-weight:100;
	font-size: 15px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.contenedor-inputs
{
	padding:10px 30px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	
}
input
{
	margin-bottom:15px;
	text-align: center;
	font-size:12px;
	border-radius:3px;
	border: 1px solid #000000;
}
.input-48
{
	width:48%;
}
.input-48b
{
		width:55%;
	
}
.input-48c
{
		width:94%;
	
}
.input-48d
{
		width:2%;
	
}
.btn-enviar
{
	background:goldenrod;
	color: #fff;
	margin:auto;
	padding:10px 40px;
	
}
.mybtn
{
	background:glodenrod;
}
.form-link
{
	width:100%;
	font-size:14px;
	text-align: center;
	
}
.navbar
{
	width: 100%;
	height: 100%;
}

.iniciar-sesion
{
	width: 60%;
	max-width: 500px;
	margin: auto;
	border-radius:13px;
	text-align: center;
}
.volver
{
	font-size: 12px;
}
	